<!DOCTYPE html>
<html ng-app="QuizApp">

<head lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="QuizStyle.css">


</head>

<body ng-controller="QuizController">
    <div class="container" id="container">
        <div class="col-md-5 center" style="Margin:20;">
            <h1 class="text-center">Quiz</h1>
            <hr style="margin-bottom: 20px">

            <p>
                <h3 class="text-center" ng-show="!end">{{(question+1) +":"+ alternativas[question].pergunta}}</h3>
            </p>
            <div ng-show="end">
                <p>+
                    <h1 class="text-center">Terminamos! {{terminar()}} </h1>
                    <button id="btn0" class="form-control hovers" ng-click="call()">Call</button>
                </p>

            </div>

            <div>
                <div ng-repeat="obj in alternativas[question].respostas" ng-show="!end">
                    <button id="btn0" class="form-control hovers" ng-click="next(obj)">{{obj.resposta}}</button>
                </div>

                <hr style="margin-top: 50px">
                <footer>
                    <p class="text-center">Questao {{question + 1}} de {{alternativas.length}}</p>
                </footer>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="angular.js"></script>
    <script src="Jquery.js"></script>
    <script type="text/javascript" src="Ang_Controller.js"></script>
    <script src="quiz.js"></script>
    <script src="question.js"></script>

</body>

</html>