<!DOCTYPE html>
<html ng-app="Search">
<head>
    <meta charset="utf-8" />
    <title>Search</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/search_controller.js"></script>
</head>
<body ng-controller="Searchcontroller">
    <div class="container">
    <input type="text" class="form-control" ng-model="search" placeholder="Digite aqui seu boco" />
    <div ng-repeat="insti in data[0].cursos | filter: {curso: search}">
        {{insti.curso}} <br>
    <img ng-src="{{data[0].img}}" width="100px" height="100px">
    </div>
</body>
</html>